
/* ||GENERAL STYLES */
body{
    background-color: #191414;
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-content{
  display: flex;
  justify-content: center;
  align-items: center;
    width: 100%;
}


.title-container{
    border-radius: 10px;
    background-color: #212121;
    font-family: Arial, sans-serif;
    width: 50%;
    padding: 10px;
    margin: 10% auto 10px;
    color: white;
    text-align: center;
}

.title {
    position: relative;
    font-size: 50px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    display: inline;
    color: white;
}

.div-containers{
    background-color: #535353;
    font-family: Arial, sans-serif;
    color: white;
}

#favourite_song, #favourite_album, #favourite_artist{
    margin-left: 50%;
}

#navbar{
    top: 0;
    transition: 0.4s;
}

